__pycache__
/exps
/runs
/.gradio
/.idea
/temp
/.env
*.log
/cog_im_files
/.cog
/output.png
/results

# 评估输出(生成物)
/evaluate_output

# IDE
.reasonix

# Data
/data

# Model
/HYPIR_model

# OS
.DS_Store

# env
.venv
